SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=payouts_db
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
REDIS_URL=redis://redis:6379/0
FLOWER_USER=admin
FLOWER_PSW=admin

# Можно получить через @BotFather
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_NAME=your-bot-name

# Можно получить через @userinfobot
TELEGRAM_LOGGING_CHAT=your-chat-id
TELEGRAM_LOGGING_EMIT_ON_DEBUG=False

CORS_ALLOW_ALL_ORIGINS=1
CORS_ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000,http://127.0.0.1:8000,http://localhost:8000

USE_HTTPS=False
SECURE_REDIRECT_EXEMPT=

# Можно оставить поле пустым или получить ключ здесь https://platform.safetycli.com/auth/pages/platform-auth-start/
SAFETY_API_KEY=
